:root
	--main-color: #091e40
	--second-color: #bab8b8
	--btn-color: #3984f3
	--font: 'NunitoSans'

$font: var(--font)

$mainColor: var(--main-color)
$secondColor: var(--second-color)
$btnColor: var(--btn-color)

$phone: 480px
$tablet: 768px
$laptop: 992px
$desktop: 1200px