.slide
    margin-top: rem(50px)

.slider__item
    height: rem(200px)
    position: relative

    &::after
        content: "650$"
        position: absolute
        width: rem(40px)
        top: 0
        left: 0
        background: #003cff
        color: white
        text-align: center
        z-index: 1
    
.slider-img
    width: 100%
    height: rem(170px)
    object-fit: cover
    object-position: center center




.slide__title
    +use-font($font, $size:rem(20px), $color: $mainColor, $weight: 700)
    margin-top: rem(20px)

    +tablet
        font-size: rem(22px)

.slide__desc
    +use-font($font, $size:rem(10px), $color: $mainColor, $weight: 400)
    margin-top: rem(10px)

    +tablet
        font-size: rem(12px)
        margin-top: rem(30px)

.slide__btn
    width: rem(70px)
    height: rem(20px)
    background: #3984f3
    border: none
    font-size: rem(12px)
    color: white
    margin-top: rem(20px)
